@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #b71540, #fda7df);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* HEADING */

.heading {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  animation: glitch 5s 5s infinite;
  text-align: center;
  width: 750px;
}

.heading::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  top: 0;
  color: #fff;
  text-shadow: -1px 0 #4834d4;
  overflow: hidden;
  width: inherit;
  clip: rect(0, 900px, 0, 0);
  animation: noise 2s infinite linear alternate-reverse;
}

.heading::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  top: 0;
  width: inherit;
  text-shadow: 1px 0 #eb4d4b;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-2 3s infinite linear alternate-reverse;
}

/* KEYFRAMES */

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise {
  0% {
    clip: rect(98px, 9999px, 85px, 0);
  }
  5% {
    clip: rect(31px, 9999px, 39px, 0);
  }
  10% {
    clip: rect(72px, 9999px, 23px, 0);
  }
  15% {
    clip: rect(27px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(19px, 9999px, 59px, 0);
  }
  25% {
    clip: rect(29px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 7px, 0);
  }
  35% {
    clip: rect(77px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(33px, 9999px, 10px, 0);
  }
  45% {
    clip: rect(68px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(14px, 9999px, 8px, 0);
  }
  55% {
    clip: rect(100px, 9999px, 17px, 0);
  }
  60% {
    clip: rect(3px, 9999px, 80px, 0);
  }
  65% {
    clip: rect(17px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(82px, 9999px, 71px, 0);
  }
  75% {
    clip: rect(39px, 9999px, 86px, 0);
  }
  80% {
    clip: rect(9px, 9999px, 72px, 0);
  }
  85% {
    clip: rect(100px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(27px, 9999px, 99px, 0);
  }
  95% {
    clip: rect(34px, 9999px, 57px, 0);
  }
  100% {
    clip: rect(33px, 9999px, 27px, 0);
  }
}

@keyframes noise-2 {
  0% {
    clip: rect(73px, 9999px, 99px, 0);
  }
  5% {
    clip: rect(76px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(75px, 9999px, 84px, 0);
  }
  15% {
    clip: rect(75px, 9999px, 92px, 0);
  }
  20% {
    clip: rect(97px, 9999px, 24px, 0);
  }
  25% {
    clip: rect(83px, 9999px, 7px, 0);
  }
  30% {
    clip: rect(70px, 9999px, 68px, 0);
  }
  35% {
    clip: rect(29px, 9999px, 99px, 0);
  }
  40% {
    clip: rect(56px, 9999px, 75px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 16px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 56px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 67px, 0);
  }
  60% {
    clip: rect(39px, 9999px, 85px, 0);
  }
  65% {
    clip: rect(35px, 9999px, 5px, 0);
  }
  70% {
    clip: rect(100px, 9999px, 97px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 15px, 0);
  }
  80% {
    clip: rect(8px, 9999px, 49px, 0);
  }
  85% {
    clip: rect(96px, 9999px, 98px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 63px, 0);
  }
  95% {
    clip: rect(32px, 9999px, 73px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 19px, 0);
  }
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
  border-radius: 20px;
}

.btn {
  background-image: linear-gradient(to bottom, #30336b, #130f40);
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
  border-radius: 20px 0 0 20px;
}

.search.active .btn {
  transform: translateX(198px);
  border-radius: 0 20px 20px 0;
}

i {
  color: #fff;
}
